{{#section 'css'}}

<link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
<link href="/public/stylesheets/course-detail.css" rel="stylesheet">
<link rel="stylesheet" href="/public/stylesheets/admin-homepage.css">

{{/section}}

{{#section 'js'}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/javascript/jsRapStar.js"></script>
<script>$('#ratingItem').jsRapStar({ enabled: false, colorFront: "yellow" });</script>
<script>
  function sendCourseDeleteRequest(IdCourse) {
    console.log(IdCourse);
    $.ajax({
      url: `/admin/course/` + IdCourse,
      type: "DELETE",
      data: JSON.stringify(
        {
          IdCourse: IdCourse,
        }
      ),
      contentType: "application/json; charset=utf-8",
      dataType: "json",

      complete: function (xmlHttp) {
        // xmlHttp is a XMLHttpRquest object
        if (xmlHttp.status == 200) {
          alert("A course has been deleted");
          window.location.href = "/admin/course/all";
        } else {
          alert("Some thing went wrong");
          window.location.href = "/error";
        }
      }
    });
  }
</script>
{{/section}}


<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary"
              href="/course/domain/{{course.HeaderCategoryID}}">{{course.HeaderNameCategory}} >
            </a>
          </li>
          <li class="list-inline-item"><a class="text-white h3 font-secondary"
              href="/course/domain/{{course.IdCourse}}/category/{{course.IdCategory}}">{{course.NameCategory}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- section -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <!-- course thumb -->
        <img src="/public/images/course/{{course.IdCourse}}/thumb.jpg" class="img-fluid w-100" </div>
      </div>
      <!-- course info -->
      <div class="row align-items-center mb-5">
        <div class="row align-items-center mb-3">
          <div>
            <h1>{{course.nameCourse}}</h1>
          </div>
        </div>
        <div class="d-flex p-3">
          <div><a type="button" href="/admin/course/edit/{{course.IdCourse}}" class="btn p-2 btn-success">Edit</a></div>
          <div><button type="button" onclick="sendCourseDeleteRequest({{course.IdCourse}})"
              class="btn p-2 btn-danger">Delete</button></div>
        </div>
        <div class="col-xl-10 order-sm-3 order-xl-2 col-12 order-2 mb-3">
          <ul class="list-inline text-xl-center">
            <li class="list-inline-item mr-4 mb-3 mb-sm-0">
              <div class="d-flex align-items-center">
                <img src="/public//icon/update-time.png" class="ti-alarm-clock text-primary icon-md mr-2" />
                <div class="text-left">
                  <h6 class="mb-0">UPDATE TIME</h6>
                  <p class="mb-0">{{course.updatedTime}}</p>
                </div>
              </div>
            </li>
            <li class="list-inline-item mr-4 mb-3 mb-sm-0">
              <div class="d-flex align-items-center">
                <img src="/public/icon//fee.png" class="ti-wallet text-primary icon-md mr-2" />
                <div class="text-left">
                  <h6 class="mb-0">FEE</h6>
                  <p class="mb-0">${{course.Price}}</p>
                </div>
              </div>
            </li>
            <li class="list-inline-item mr-4 mb-3 mb-sm-0">
              <div class="d-flex align-items-center">
                <img src="/public/icon/promotion.png" class="ti-wallet text-primary icon-md mr-2" />
                <div class="text-left">
                  <h6 class="mb-0">PROMOTION</h6>
                  <p class="mb-0">${{course.SaleCost}}</p>
                </div>
              </div>
            </li>
            <li class="list-inline-item mr-4 mb-3 mb-sm-0">
              <div class="d-flex align-items-center">
                <img src="/public/icon/student.png" class="ti-wallet text-primary icon-md mr-2" />
                <div class="text-left">
                  <h6 class="mb-0">STUDENTS</h6>
                  <p class="mb-0">{{course.subscribe}}</p>
                </div>
              </div>
            </li>
            <li class="list-inline-item mr-4 mb-3 mb-sm-0">
              <div class=" align-items-center">

                <div class="text-left">
                  <h6 class="mb-0">RATING</h6>
                  <div class="d-flex ">
                    <p class="mb-0">4.8</p>
                    <div class="star-rating">
                      <ul class="">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                      </ul>
                    </div>
                    <p class="mb-0"> (100 Ratings)</p>
                  </div>

                </div>
              </div>
            </li>

          </ul>
        </div>

        <div class="order-xl-3 mb-4 mb-xl-0 my-flex">
          {{#if isAuth}}
          {{#if isWishList}}
          <form action="/wishlist/remove" method="POST" class="form-action">
            <button href="#" class="btn btn-primary2" type="submit">UnWishlist</button>
            <input type="hidden" value="{{course.IdCourse}}" name="id">
          </form>
          {{else}}
          <form action="/wishlist/add" method="POST" class="form-action">
            <button href="#" class="btn btn-primary" type="submit">Wishlist</button>
            <input type="hidden" value="{{course.IdCourse}}" name="id">
          </form>
          {{/if}}
          {{#if isAvailableAddCart}}
          <a href="/cart" class="btn btn-primary">Go to cart</a>
          {{else}}
          <form action="/cart/add" method="POST" class="form-action">
            <button href="#" type="submit" class="btn btn-primary">Add to cart</button>
            <input type="hidden" value="{{course.IdCourse}}" name="id">
          </form>
          {{/if}}

          {{/if}}
        </div>
      </div>

      <!-- course details -->
      <div class="row">
        <div class="col-12 mb-4">
          <h3>About Course</h3>
          <p>{{course.title}}</p>
        </div>
        <div class="col-12 mb-4">
          <h3>Description</h3>
          <p>{{{course.Description}}}</p>
        </div>
        <!-- teacher -->
        <div class="col-12 mb-4">
          <h5 class="mb-3">Teacher</h5>
          <div class="d-flex justify-content-between align-items-center">
            <div class="media mb-2 mb-sm-0">
              <img src="/public/images/teacher/teacher.jpg" class="image-teacher" alt="Teacher">
              <div class="media-body">
                <h4 class="mt-0">{{course.FullName}}</h4>
                <p>{{course.Email}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- /section -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div>
        <h2 class="section-title">Related Course</h2>
      </div>
    </div>

  </div>
</section>
<div class="row justify-content-center">
  {{#each listCourse}}
  <div class="col-sm-2">
    <div class="thumb-wrapper">

      <img src='/public/images/course/{{this.IdCourse}}/thumb.jpg' class="img-fluid1" alt="">

      <div class="thumb-content course-item">
        <div class="two-line">
          <h5>{{this.nameCourse}}</h5>
        </div>
        <div class="two-line"> {{{this.title}}}</div>
        <div>
          <h6>{{this.NameCategory}}</h6>
        </div>
        <div>
          <h6>{{this.FullName}}</h6>
        </div>
        <div class="item-price"><strike>${{this.Price}}</strike>
          <span>${{this.SaleCost}}</span>
        </div>
        <div class="star-rating">
          <ul class="list-inline">
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star"></i></li>
            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
          </ul>
        </div>
        <a href="/course/detail/{{this.IdCourse}}" class="btn btn-primary mb-5">View course</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>


<hr style="border:3px solid #f1f1f1">

<div class="RatingContainer">
  <div class="row flex-container">

    <div class="side">
      <div>5 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-5"></div>
      </div>
    </div>
    <div class="side right">
      <div>150</div>
    </div>
    <div class="side">
      <div>4 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-4"></div>
      </div>
    </div>
    <div class="side right">
      <div>63</div>
    </div>
    <div class="side">
      <div>3 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-3"></div>
      </div>
    </div>
    <div class="side right">
      <div>15</div>
    </div>
    <div class="side">
      <div>2 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-2"></div>
      </div>
    </div>
    <div class="side right">
      <div>6</div>
    </div>
    <div class="side">
      <div>1 star</div>
    </div>
    <div class="middle">
      <div class="bar-container">
        <div class="bar-1"></div>
      </div>
    </div>
    <div class="side right">
      <div>20</div>
    </div>
  </div>
</div>

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div>
        <h2 class="section-title">Ratings Course</h2>
      </div>
    </div>
  </div>
</section>
<!-- detail rating -->
{{#each listRating}}
<hr style="border:3px solid #f1f1f1">
<div class="DetailRatingContainer">
  <div class="d-flex align-items-center detail-flex-container">
    <p class="ti-wallet text-primary icon-md mr-2">{{this.FullName}}</p>
    <div class="text-left">
      <div id="ratingItem" value={{this.rateStar}}></div>
      <h6 class="mb-0">{{this.Comments}}</h6>
    </div>
  </div>
</div>
{{/each}}