<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <a class="navbar-brand" href="/">
    <i class="fa fa-home fa-lg"></i>
  </a>
  <a class="navbar-brand" href="/">E-Learning</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Categories</a>
        <ul class="dropdown-menu">
          {{#each lcCategories}}
          <li class="nav-link dropdown">
            <a class="dropdown-item" href="/course/domain/{{this.Id}}">{{HeaderNameCategory}}</a>
            <ul class="dropdown-menu">
              {{#each details}}
              <li><a class="dropdown-item" href="/course/domain/{{../Id}}/category/{{Id}}">{{NameCategory}}</a></li>
              {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="POST" action="/search/category">
      <input type="hidden" name="sortBy" value="Highest Rated">
      <input class="form-control mr-sm-2" type="search" name="searchValue" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
        Search
      </button>
    </form>
    <form id="frmLogout" method="POST" action="/account/logout"></form>
    <ul class="navbar-nav ml-auto">
      {{#if isAuth}}
      <li class="nav-item">
        <a class="nav-link" href="/cart">Shopping Cart ({{cartSummary}} items)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i>
          Welcome, <b>{{authUser.FullName}}</b>!
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user/account/list-course">
            <i class="fa fa-user" aria-hidden="true"></i>
            Profile
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Sign Out
          </a>
        </div>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="btn btn-success mr-sm-2" href="/account/login">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          Log in
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-success" href="/account/register">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Sign up
        </a>
      </li>
      {{/if}}

    </ul>
  </div>
</nav>