{{#section 'css'}}
<style>
  img {
    border-radius: 50%;
    align-self: center;
  }
  p {
    align-self: center;
    font-size: larger;
  }
  .col-8{
    display: :flex;
  }
  button{
    align-items: center;
    align-self: center;
  }
    textarea ~ label {
    top: 20px;
    font-size: 18px;
    font-weight: 300;
  }
</style>
{{/section}}

<form id="usrform" method="POST" action="">
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="container-fluid mt-4">
        <div class="row">
          <div class="card mb-3">
            <ul class="list-group list-group-flush">
              <img src="../../public/avatar/avatar.png" alt="Avatar" style="width:200px">
              <p>{{user.FullName}}</p>
              <a class="list-group-item list-group-item-action active" href="/teacher/profile">Profile</a>
              <a class="list-group-item list-group-item-action" href="/teacher/edit-password">Account</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8" >
      {{#if err_message}}
      <div id="error-message" class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{err_message}}
      </div>
      {{/if}}
      <div class="container-fluid mt-4">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="FullName" value="{{user.FullName}}" name="FullName">
          <label for="floatingInput">FullName</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="Username" value="{{user.UserName}}" name="Username" readonly>
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="Email" value="{{user.Email}}" readonly>
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="Permission" value="{{user.Permission}}" readonly>
          <label for="floatingInput">Permission</label>
        </div>
        <div class="form-floating mb-3">
          <textarea id="floatingInput" class="form-control" name="Biography" form="usrform">{{Biography}}</textarea>
          <label for="floatingInput"  style="margin: 0;">Biography</label>
          <input type="hidden" name="IdUser" value="{{user.IdUser}}">
        </div>
        <button type="submit" class="btn btn-outline-success" formaction="/teacher/profile/edit">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
      </div>
    </div>
  </div>
</div>
</form>